.row , .row2{

  display: flex;
background-color: rgb(19,19,22);
border-radius: 10px;
box-shadow: 0 0 10px rgb(229,61,17);
}

.column , .column2{
  flex: 33.33%;
  padding: 5px;
}
.top, ul {
	background-color: rgb(19,19,22);
	border-radius: 10px;
box-shadow: 0 0 10px rgb(229,61,17);
}
body {
	background-color: rgb(31,32,36);
	color: white;
}

h1,h2 {
	color: rgb(106, 115, 146 );
}

